<ul id="lists">
  <% sort_lists_by_completed!(@lists).each do |list| %>
  <% if completed?(list) %>
    <li class="complete">
  <% else %>
    <li>
  <% end %>
      <a href=<%= "/lists/#{list[:id]}" %>>
        <h2><%= list[:name] %></h2>
        <p><%= display_completed_todos(list) %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>